<html lang="en_US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    {{! TODO: Change this when name is decided upon. }}
    <title>Degrees</title>
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <nav>
      <div class="nav-wrapper navbar">
        <a href="#!" class="brand-logo title">🎓</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn button-style">Degrees
              <i class="material-icons right button-style">assessment</i></a></li>
          <li><a class="waves-effect waves-light btn button-style">Reviews
              <i class="material-icons right button-style">forum</i></a></li>
          <li><a class="waves-effect waves-light btn button-style">Login
              <i class="material-icons right button-style">person</i></a></li>
        </ul>
      </div>
    </nav>


    <div class="image-heading"><img class="responsive-img image" src="360-degrees.jpg"></div>

    {{{ body }}}
 

  </body>

</html>