<!DOCTYPE html>
<html lang="en_US">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{!-- TODO: Change this when name is decided upon. --}}
        <title>Degrees</title>

        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>

        <h1>This is the main page.</h1>

    </body>

</html>