<div class="container">
    <h1> What's your view?</h1>
    <h3>Read what others have to say about degrees around the country!</h3>
    <div class="row">
        <div class="col s6 offset-s2">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">📃</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search for a Degree</label>
                </div>
            </div>
        </div>
        <div class="col s1 offset- waves-effect waves-light btn button-style" id="signup-submit-button">Search</div>
    </div>
</div>