<div class="container">
       
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Degree from College Name</span>
                    <div class="card-action">
                        <a>Score 1</a>
                        <a>Score 2</a>
                        <a>Score 3</a>
                        <a>Score 4</a>
                    </div>
                <p>User Comment</p>
        </div>
    </div>

</div>
   