<div class="container">
  <h1>Give the 360 view of your degree!</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="degree_name" type="text" class="validate" />
          <label for="degree_name">Degree Name</label>
        </div>
        <div class="input-field col s6">
          <input id="school_name" type="text" class="validate" />
          <label for="school_name">College Name</label>
        </div>
      </div>
      <div class="input-field col s12 m6">
        <select>
          <option value="">Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div>
      <div class="input-field col s12 m6">
        <select>
          <option value="">Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="comment" type="text" class="validate" />
          <label for="comment">Comment</label>
        </div>
      </div>
    </form>
  </div>
</div>
<h1>This is a review page.</h1>













{{!-- Input Forms for Review --}}
<form class="gen_info">
    Location of College: <select name="state" id="state">
        <option value="" selected="selected">Select State</option>
    </select>
    College Attended: <select name="college" id="college">
        <option value="" selected="selected">Please Select State First</option>
    </select>
    Degree: <select name="degree" id="degree">
        <option value="" selected="selected">Please Select a College First</option>
    </select>
</form>
