<h1>This is a review page.</h1>













{{!-- Input Forms for Review --}}
<form class="gen_info">
    Location of College: <select name="state" id="state">
        <option value="" selected="selected">Select State</option>
    </select>
    College Attended: <select name="college" id="college">
        <option value="" selected="selected">Please Select State First</option>
    </select>
    Degree: <select name="degree" id="degree">
        <option value="" selected="selected">Please Select a College First</option>
    </select>
</form>