{{!-- container for signup information --}}
<div class="container padding">
    <div class="row">
        <div class="container login">
            <div class="row">
                <div class="col s12 offset-s3">
                    <form>
                        <h1 class="login-title">Signup</h1>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="signup-username" type="text" class="validate" />
                                <label for="comment">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="signup-email" type="text" class="validate" />
                                <label for="comment">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="signup-password" type="password" class="validate" />
                                <label for="comment">Password</label>
                            </div>
                        </div>
                    </form>
                    <div class="waves-effect waves-light btn button-style" id="signup-submit-button">Sign Up</div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script src="js/signup.js"></script>