.navbar, .footer {
    background-color: #AF978D;
}

.button-style {
    background-color: #C6A489;
    color: #301934;
}

.footer-text {
    text-decoration: none;
    color: #301934;
}

.review {
    background-color: #A18A94;
    color:#301934;
}

input, select, option, label {
    color:#301934
}

.body {
    background-color: #684E63;
    padding-top: 10px;
    padding-bottom: 10px;
}


