/* main handlebars styling */
.navbar, .footer {
    background-color: #AF978D;
}
/* top corner logo */
.title {
    font-family: 'Sriracha', cursive;
    text-decoration: none;
    color: #301934;
    font-size: 40px;
    font-weight: bolder;
}
/* footer */
.footer-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.foot-text {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
}
/* Buttons for the website */
.button-style {
    background-color: #C6A489;
    color: #301934;
}
.button-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.footer-text {
    text-decoration: none;
    color: #301934;
}

.review {
    background-color: #A18A94;
    color:#301934;
    padding: 2% 4%;
}

input, select, option, label {
    color:#301934
}

.body {
    background-color: #684E63;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-field {
    color: #301934;
    
}

.input-field input[type=text], .input-field input[type=text]:focus  {
    border-bottom: 1px solid #301934;
  }

.input-field label {
    color: #301934;
}

select option:active {
    color: #301934;
}

